/* Animações */

/* Animação de movimentação de baixo para cima */
@keyframes up {
  
  /* Posição inicial */
  from {
    opacity: 0; /* Itens transparentes */
    transform: translateY(16px); /* Posição inicial do item */
  }

  /* Posição final */
  to {
    opacity: 1; /* Itens visiveis */
    transform: translateY(0); /* Posição final do item */
  }
}

/* Animação de aparecer */
@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Animação de movimento da esqueda para direita */
@keyframes right {

  /* Posição inicial */
  from {
    transform: translateX(-100%);
  }

  /* Posição final */
  to {
    transform: translateX(0);
  }
}

.animate-appear {
  animation-name: appear;
  animation-duration: 300ms;
  animation-fill-mode: backwards; /* Modo da animação */
}

.animate-up {
  animation-name: up; /* Nome da animação */
  animation-duration: 300ms; /* Duração da animação, velocidade com que ela ocorre */
  animation-fill-mode: backwards; /* Modo da animação */
}

.animate-right {
  animation-name: right;
  animation-duration: 300ms;
}