#page-landing {
  /* Define uma cor degrade para o fundo. Angulo do degrade, cor de origem, cor final. Não reinicia a cor do fundo quando ele acaba */
  background: linear-gradient(329.54deg, #29b6d1 0%, #00c7c7 100%) no-repeat;

  text-align: center; /* Alinha o texto ao centro */
  min-height: 100vh;

  display: flex;

  align-items: center; /* Alinha os items no centro da div */
}

.location,
h1,
.visit p {
  height: 16vh;
}

.visit a {
  width: 8rem; /* Tamanho em relação ao tamanho raiz */
  height: 8rem; /* Tamanho em relação ao tamanho raiz */
  background: #ffd666; /* Cor do fundo do botão */

  border: none; /* Sem bordas */
  border-radius: 3rem; /* Raio da borda */

  display: flex;
  align-items: center;
  justify-content: center;

  margin: auto;

  transition: background 200ms; /* Duração da mudança de cor do botão ao passar o mouse por cima*/
}

#logo {
  animation-delay: 50ms; /* Atraso no inicio da animação up */
}

.location {
  animation-delay: 100ms; /* Atraso no inicio da animação up */
}

main h1 {
  animation-delay: 150ms; /* Atraso no inicio da animação up */
  font-size: clamp(
    4rem,
    8vw,
    8.4rem
  ); /* tamanho minimo da fonte, tamanho preferencial da fonte, tamanho maximo da fonte */
}

#container {
  margin: auto;
  width: min(90%, 112rem);
}

.visit p {
  animation-delay: 200ms; /* Atraso no inicio da animação up */
}

.visit a {
  width: 8rem; /* Tamanho em relação ao tamanho raiz */
  height: 8rem; /* Tamanho em relação ao tamanho raiz */
  background: #ffd666; /* Cor do fundo do botão */

  border: none; /* Sem bordas */
  border-radius: 3rem; /* Raio da borda */

  display: flex;
  align-items: center;
  justify-content: center;

  margin: auto;

  transition: background 200ms; /* Duração da mudança de cor do botão ao passar o mouse por cima*/

  animation-delay: 250ms; /* Atraso no inicio da animação up */
}

.visit a:hover {
  background: #96feff; /* Cor do botão ao se passar o mouse por cima*/
}

/* desktop version */
@media (min-width: 760px) {
  #container {
    padding: 5rem 2rem;
    background: url("../images/bg.svg") no-repeat;
    background-position: 80%;
    background-size: clamp(30rem, 54vw, 56rem);
  }
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .location,
  h1,
  .visit p {
    height: initial;
    text-align: left;
  }

  .location {
    text-align: right;
    font-size: 2.4rem;
    line-height: 1.5;
  }

  main h1 {
    font-weight: bold;
    line-height: 0.88;

    margin: clamp(10%, 9vh, 12%) 0 4rem; /* Tamanho minimo, tamanho ideia, tamanho maximo */

    width: min(
      300px,
      80%
    ); /* Tamanho "maximo" se a tela tiver mais de 300px de espaço, tamanho maximo se tiver menos de 300px de espaço */
  }

  .visit {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .visit a {
    margin: initial;
  }

  .visit p {
    font-size: 2.4rem;
    line-height: 1.5;
    width: clamp(20rem, 20vw, 30rem);
  }
}
